<html>
  <head> </head>

  <body>
    <h1>Test Page</h1>
    <h2><%= userId%></h2>
    <h2><%= userName%></h2>
    <h2><%= userLastName%></h2>
    <hr />
    <form action="/">
      <input type="submit" value="Back to the beginning" />
    </form>
  </body>
</html>
