<h1>Deleted user</h1>
<hr />
<form action="/users">
  <input type="submit" value="See all Users" />
</form>
<hr />
<form action="/form.html">
  <input type="submit" value="Back to the beginning" />
</form>
<hr />
