<form action="/user/edit/<%= userId%>" method="POST">
  <input type="hidden" name="userId" value="<%= userId%>" />
  <input type="text" name="userName" value="<%= userName%>" />
  <input type="text" name="userLastName" value="<%= userLastName%>" />
  <button>Submit</button>
</form>
